<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jessica Cai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jessica Cai's professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body>
    <header id="webname">
        <h1>Jessica Cai</h1>
        <nav class="navbar">
            <div class="nav-links">
                <a href="../index.html">Home</a>
                <a href="cv.html">CV</a>
                <a href="contact.html">Contact Me</a>
                <a href="fun.html">For Fun</a>
            </div>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <a href="../static/Jessica Cai Resume 01062025.pdf">here's my resume in pdf format</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Academic Tutor</td>
                <td>Utilized interactive teaching methods to teach students (elementary to 11th grade) math and English, enhancing
                    understanding and improving grades with professionalism and patience</td>
            </tr>
            <tr>
                <td>Link Nonprofit - Graphic Designer</td>
                <td>Created flyers for healthcare fairs and enhanced the organization's
                    online connection in the low-income patient community</td>
            </tr>
            <tr>
                <td>Fundamentals of Programming (2024)</td>
                <td>Developed a 3D shape editor with the CMU Graphics package, featuring full￾fledged 3D
                viewport rotation and simple user interaction through sophisticated object-oriented design</td>
            </tr>
            <tr>
                <td>7C Engineering Intern</td>
                <td>Collaborated with project manager and coworkers, gained hands-on experience with Siemens software, using Python
                to manipulate 3D models and translate industry-specific file types</td>
            </tr>
        </table>
    </div>
    <footer>© 2025 Copyrights belong to Jessica Cai</footer>
</body>

</html>