<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jessica Cai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jessica Cai's professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav class="navbar">
        <a class="navbar-brand" href="../index.html">Jessica Cai</a>
        <div class="nav-links">
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </div>
    </nav>
</head>

<body style="font-family: Arial">
    <h1>Jessica Cai</h1>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <a href="../static/Jessica Cai Resume 01062025.pdf">here's my resume in pdf format</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Academic Tutor</td>
                <td>Utilized interactive teaching methods to teach students (elementary to 11th grade) math and English, enhancing
                    understanding and improving grades with professionalism and patience</td>
            </tr>
            <tr>
                <td>Link Nonprofit - Graphic Designer</td>
                <td>Created flyers for healthcare fairs and enhanced the organization's
                    online connection in the low-income patient community</td>
            </tr>
        </table>
    </div>
    <footer>© 2025 Copyrights belong to Jessica Cai</footer>
</body>

</html>