<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jessica Cai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jessica Cai's professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav class="navbar">
        <a class="navbar-brand" href="../index.html">Jessica Cai</a>
        <div class="nav-links">
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </div>
    </nav>
</head>

<body style="font-family: Arial">
    <h1>Jessica Cai</h1>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>anything outdoors really - hiking camping biking</li>
            <li>binging movies i've already watched with my friends who haven't seen it</li>
            <li>cooking for other people</li>
            <li>going to antique shops and flea markets</li>
            <li>snorkeling hehe</li>
        </ul>
    </div>
    <footer>© 2025 Copyrights belong to Jessica Cai</footer>
</body>

</html>